<header>
<a id="snbutton" data-target="interface" class="sidenav-trigger btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">menu</i></a>


  <ul id="interface" class="sidenav sidenav-fixed" style="transform: translateX(0%);">
    <li class="logo">
      <a href="/" id = "logo-container" class="z-depth-1 brand-logo blue">futureOttawa</a>
    </li>
    {{>@partial-block}}


<li class="bold"><a href="/about" class="waves-effect">About</a></li>
</ul>

</header>
