<footer class="page-footer blue accent-2
">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">futureOttawa</h5>
        <p class="white-text">This site is in no way affiliated with the City of Ottawa</p>
        <p class="white-text">Not even sort of.</p>

      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">More Info</h5>
        <ul>
          <li><a class="white-text" href="#!">About</a></li>
          <li><a class="white-text" href="#!">Contact Us</a></li>
          <li><a class="white-text" href="#!"></a>FAQ</li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
