{{#> basicNav}}
    <li class="search">
      <div class="search-wrapper">
          <input id="search" placeholder="Search">
          <div class="search-results"></div>
      </div>
    </li>
    <li><a href=# class="waves-effect collapsible-header" id="show_wards"><input id="show_wards_check" type="checkbox"/><span>Wards</span><i class=" right material-icons">layers</i></a></li>
    <li>
      <ul class="collapsible collapsible-accordion" id="planningAppsCollapser">
        <li><a href=# class="collapsible-header waves-effect" id="show_planningApps"><input id="show_planningApps_check" type="checkbox"/><span>Planning Applications</span><i class=" right material-icons">place</i></a>
          <div class="collapsible-body"id="planningAppsSelector">
          </div>
        </li>
      </ul>
    </li>
{{/basicNav}}
