<header>
<a id="snbutton" data-target="interface" class="sidenav-trigger btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">menu</i></a>


  <ul id="interface" class="sidenav sidenav-fixed" style="transform: translateX(0%);">
    <li class="logo">
      <a href="/" id = "logo-container" class="z-depth-1 brand-logo blue">futureOttawa</a>
    </li>
    <li class="search">
      <div class="search-wrapper">
          <input id="search" placeholder="Search">
          <div class="search-results"></div>
      </div>
    </li>
    <li><a href="/about" class="waves-effect">About</a></li>
    <li><a href=# class="waves-effect collapsible-header" id="show_wards"><input id="show_wards_check" type="checkbox"/><span>Wards</span><i class=" right material-icons">layers</i></a></li>
    <li>
      <ul class="collapsible collapsible-accordion">
        <li><a href=# class="collapsible-header waves-effect" id="show_planningApps"><input id="show_planningApps_check" type="checkbox"/><span>planningApps</span><i class=" right material-icons">place</i></a>
          <div class="collapsible-body">
            <ul>
              <li><a href="#">
                <div  class="input-field">
                  <select onchange="filter_applications()" id="app_start_date">
                    <option value="2013">any</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                  </select>
                  <label>Year From</label>
                </div>
              </a>
              </li>
              <li><a href="#">
                <div  class="input-field">
                  <select id="app_end_date" onchange="filter_applications()">
                    <option value="2019">any</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                  </select>
                  <label>Year To</label>
                </div>
              </a>
              </li>
              <li><a href="#">
                <div id="app_type" class="input-field">
                  <select multiple onchange="filter_applications()" id="app_type" >
                    <option value="Demolition Control">Demolition Control</option>
                    <option value="Offical Plan Amendment">Offical Plan Amendment</option>
                    <option value="Ontario Heritage Act">Ontario Heritage Act</option>
                    <option value="Plan of Condominium">Plan of Condominium</option>
                    <option value="Plan of Subdivision">Plan of Subdivision</option>
                    <option value="Site Plan Control">Site Plan Control</option>
                    <option value="Zoning By-Law Amendment">Zoning By-Law Amendment</option>
                  </select>
                  <label>Application Type</label>
                </div>
              </a>
              </li>
              <li><a>Option3</a></li>
              <li><a>Option4</a></li>


            </ul>
          </div>
        </li>
      </ul>
    </li>

  </ul>

</header>
