<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
</head>
<body>

  <main>
  {{{body}}}
  </main>
  {{>footer}}




<script src="js/materialize.min.js"></script>
<script src="js/init.js"></script>

</body>
</html>
